.box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.App {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.ButtonMenu {
  padding-top: 30px;
  display: flex;
  margin: auto;
  width: fit-content;
  flex-direction: column;
}